{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head" .PageTitle}}}
<body>
    {{template "header" .PageTitle}}
    
    <main>
    {{range .Block}}
        {{template "block" .}}        
    {{end}}
    <main>
    
    {{template "footer"}}
</body>
</html>
{{end}}
{{/* 구조체면 .구조체명 , 아니면 . 으로 전달 한다  */}}