{{define "header"}}
<header>
    <nav>
        <a href="/">노마드 코인</a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/add">Add</a>
            </li>
        </ul>
    </nav>
    <h1>{{.}}</h1>
</header>
{{end}}